.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  font-family: 'DM Sans', sans-serif;
  color: #eae4f0;

  text-shadow: 1px 1px 0px #957dad, 1px 2px 0px #957dad, 1px 3px 0px #957dad,
    1px 4px 0px #957dad, 1px 5px 0px #957dad, 1px 6px 0px #957dad;
}
button {
  margin: 20px 0 20px 15px;
  font-weight: 700;
  color: #f69a73;

  border-bottom: 4px solid #d87d56;
  background: white;
  font-size: 14px;
  display: block;
  padding: 0 15px;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}
